.newslist{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.newslist swiper-item{
    position: relative;
}
.newslist swiper-item title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    line-height:30px;
    text-align: left;
    text-indent:10px;
    font-size:16px;
}
.newslist .banner{
    height:200px;
    margin-bottom:10px auto;
}
.newslist .detail{
    height: calc(100% - 220px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding:0 8px;
    box-sizing: border-box;
}
.detail .newslistdetail{
    width: 100%;
    height: 80px;
    padding:10px 0;
    display: flex;
}
.newslistdetail .right{
    width: 120px;
    height: 100%;
    margin-left:10px;
}
.newslistdetail .left{
    flex: 1;
    height:100%;
}