.linedetail{
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* 非公交路线详情 */
.linedetail .linelist view{
    height: 35px;
    line-height: 35px;
    text-indent: 10px;
}
/* 公交路线详情 */
.linedetail .transit .walking view{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 15px;
}
.linedetail .transit .transit view{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 15px;
}
.linedetail .transit .transit swiper{
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.linedetail .walktrans{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 15px;
}